
<div class="wether-widget">
  <div class="listBlock">
    <span class="listTitle">Places list:</span>
    <div class="item-container" *ngFor="let wItem of wetherItems; index as i;">
      <wether-item [data]="wItem"></wether-item>
      <button *ngIf="!wItem.place.defaultItem" class="delete-button" (click)="deletePlace(wItem)" title="Delete">D</button>
    </div>
  </div>
  <wether-pager></wether-pager>
  <div class="addBlock">
    <div class="delimiter"></div>
    <wether-item-add></wether-item-add>
  </div>
</div>
